@charset "utf-8";

:root {
    --color-baige: #fff9f2;
    --color-mc: #5c584f;
    --color-pc: #da2128;
    --color-bk: #000;
    --color-df: #212121;
    --color-ct: #ccc;
    --color-cl: #eee;
    --color-ly: #f1e9df;
    --color-lg: #f3f3f3;
    --color-wt: #ffffff;
}

.container {
    width: 1300px;
    margin: 0 auto;
    position: relative;
}



/* header */


/* main */


/* section1 */


/* section2 */



/* section3 */


/* section4 */


/* section5 */


/* footer */