@charset "utf-8";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-jp.min.css");


:root {
    --color-baige: #fff9f2;
    --color-mc: #5c584f;
    --color-pc: #da2128;
    --color-bk: #000;
    --color-df: #212121;
    --color-ct: #ccc;
    --color-cl: #eee;
    --color-ly: #f1e9df;
    --color-lg: #f3f3f3;
    --color-wt: #ffffff;
    font-family: Pretendard, apple-system, 'Apple SD Gothic Neo', '맑은 고딕', sans-serif;
    font-size: 18px;
}

/* font */

.font-title {
    font-size: 39.52px;
    font-weight: 600;
}

.font-sec1 {
    font-size: 19.76px;
    font-weight: 600;
}

.font-sec3 {
    font-size: 12.616px;
    font-weight: 600;
}


.container {
    width: 1300px;
    margin: 0 auto;
    position: relative;
}



/* header */


/* main */


/* section1 */


/* section2 */



/* section3 */
.swiper-slide > a > img {
    width: 277.77px;
    height: 441px;
}

.swiper-3d .swiper-slide-shadow-left {
    background-image: none;
}

.swiper-3d .swiper-slide-shadow-right {
    background-image: none;
}

.element.style {
    width: 233.25px;
    transition-duration: 0ms;
    transform: none;
    z-index: -1;
}

/* section4 */


/* section5 */


/* footer */